@import "fonts"
@import "vars"
@import "mixins/mixins"
@import "mixins/mixin"

[class^="icon-"]:before, [class*=" icon-"]:before
	font-family: "porta"
	font-style: normal
	font-weight: normal
	speak: none
	display: inline-block
	text-decoration: inherit
	text-align: center
	opacity: .8
	
	font-variant: normal
	text-transform: none
	
	font-size: 120%
	
	text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3)

.icon-plus:before
	content: '\e826'

''

.icon-email:before
	content: '\e825'

''

.icon-cog:before
	content: '\e823'

''

.icon-ok:before
	content: '\e80a'

''

.icon-cancel:before
	content: '\e80b'

''

.icon-calendar:before
	content: '\e10b'

''

.icon-help-circled:before
	content: '\e81a'

''

.icon-location:before
	content: '\e81b'

''

.icon-left-open:before
	content: '\e804'

''

.icon-right-open:before
	content: '\e803'

''

.icon-up-open:before
	content: '\e805'

''

.icon-menu-1:before
	content: '\e800'

''

.icon-link-ext:before
	content: '\e822'

''

.icon-menu:before
	content: '\e801'

''

.icon-mail-alt:before
	content: '\e81c'

''

.icon-angle-left:before
	content: '\e81e'

''

.icon-angle-right:before
	content: '\e81f'

''

.icon-angle-up:before
	content: '\e820'

''

.icon-angle-down:before
	content: '\e821'

''

.icon-desktop:before
	content: '\e814'

''

.icon-mobile:before
	content: '\e81d'

''

.icon-calendar-empty:before
	content: '\e802'

''

.icon-github-circled:before
	content: '\e811'

''

.icon-vimeo-circled:before
	content: '\e808'

''

.icon-twitter-circled:before
	content: '\e807'

''

.icon-facebook-circled:before
	content: '\e80e'

''

.icon-gplus-circled:before
	content: '\e80d'

''

.icon-pinterest-circled:before
	content: '\e809'

''

.icon-linkedin-circled:before
	content: '\e806'

''

.icon-dribbble-circled:before
	content: '\e80f'

''

.icon-stumbleupon-circled:before
	content: '\e810'

''

.icon-lastfm-circled:before
	content: '\e812'

''

.icon-skype-circled:before
	content: '\e813'

''

.icon-globe:before
	content: '\e815'

''

.icon-award:before
	content: '\e816'

''

.icon-user:before
	content: '\e818'

''

.icon-users:before
	content: '\e819'

''

.icon-chart-bar:before
	content: '\e80c'

''

.icon-phone:before
	content: '\e824'

''

.icon-megaphone:before
	content: '\e817'

''

*
	@include margin(0, all)
	@include padding(0, all)
	box-sizing: border-box



#container
	position: relative
	&:after
		content: ""
		display: block
		clear: both
		height: 0

#menu
	position: relative
	float: left
	width: 100%
	@include padding(0, top-bottom)
	@include padding(20px, right-left)
	background: $white
	list-style: none
	ul
		list-style: none
	> li
		float: left
		position: relative
		perspective: 1000px
	a
		display: block
		position: relative
		z-index: 10
		@include padding(13px, top-bottom)
		@include padding(20px, right-left)
		text-decoration: none
		line-height: 1
		font-size: 12px
		background: transparent
		@include transition(all, .25s, ease-in-out)
		@include hardware
	> li:hover > a
		background: $main-color
		color: $white
		text-shadow: none
	li
		ul
			position: absolute
			left: 0
			z-index: 1
			width: 200px
			@include padding(0, all)
			opacity: 0
			visibility: hidden
			background: transparent
			overflow: hidden
			transform-origin: 50% 0%
		&:hover ul
			position: relative
			@include padding(15px, top-bottom)
			@include padding(0, right-left)
			background: $main-color
			opacity: 1
			visibility: visible
			animation-name: swingdown
			animation-duration: 1s
			animation-timing-function: ease
		li a
			@include padding(15px, left)
			font-weight: 400
			color: $white
			text-shadow: none
			@include transition (all, .15s, linear)
			@include hardware
			&:hover
				color: $main-color
				background: $white

@keyframes swingdown
	0%
		opacity: .99999
		transform: rotateX(90deg)

	30%
		transform: rotateX(-20deg) rotateY(5deg)
		animation-timing-function: ease-in-out

	65%
		transform: rotateX(20deg) rotateY(-3deg)
		animation-timing-function: ease-in-out

	100%
		transform: rotateX(0)
		animation-timing-function: ease-in-out

.service
	@include margin(20px, top)
	@include padding(15px, top)
	h2
		@include padding(15px, top)
	p
		@include padding(0, top-bottom)
		@include padding(50px, right-left)
	img
		width: 150px
		height: 150px
.centered, .center
	@include margin(auto, right-left)
	float: none
	text-align: center
.zoom-in
	@include transform-scale(1)
	@include transition(all, 250ms, ease)
	@include hardware
	&:hover
		@include transform-scale(1.1)
.primary-section
	background-color: $white
	h1, p
		text-align: center
	
.team .thumbnail
	box-sizing: border-box
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	@include padding(10px, all)
	@include border(1px, $white, 'all')
	&:hover .social
		z-index: 5
		a
			color: $white
	.mask
		background: $accent
		h2
			@include margin(20%, top)
		color: $grey
		h3, p
			color: $grey
	&:hover
		h3, .social a:hover
			color: $grey

.about-text
	@include margin(30px, top)
	p
		@include padding(0, all)
		font-size: 16px

.skills
	list-style-type: none
	position: relative
	@include margin(0, all)
	li
		@include margin(30px, bottom)
		background: $white
		height: 40px
		@include padding(1px, all)
		h3
			position: relative
			font-size: 15px
			@include padding(0, all)
			@include margin(0, all)
			left: 10px
			z-index: 1
			color: $main-color
		.bar
			height: 40px
			position: absolute
			background-color: $accent

.button
	display: inline-block
	@include border(1px, $main-color, 'all')
	color: $main-color
	background-color: transparent
	@include padding(15px, top-bottom)
	@include padding(30px, right-left)
	font-size: 17px
	line-height: auto
	&:visited, &:focus
		display: inline-block
		@include border(1px, $main-color, 'all')
		color: $main-color
		background-color: transparent
		@include padding(15px, top-bottom)
		@include padding(30px, right-left)
		font-size: 17px
		line-height: auto
	&:hover, &:active
		background-color: $main-color
		color: $white

.button-sp
	border: none
	background-color: $accent
	color: $main-color
	&:visited, &:focus
		border: none
		background-color: $accent
		color: $main-color
	&:hover, &:active
		background-color: $main-color
		color: $accent

.button-ps
	border: none
	background-color: $main-color
	color: $accent
	&:visited, &:focus
		border: none
		background-color: $main-color
		color: $accent
	&:hover, &:active
		background-color: $accent
		color: $main-color

.thumbnail
	width: 100%
	height: 100%
	@include padding(0, all)
	overflow: hidden
	position: relative
	border: 0
	border-radius: 0
	box-shadow: none
	text-align: center
	background: $lgrey
	.more
		display: block
		z-index: 4
		position: absolute
		top: -100px
		left: 50%
		@include margin(0, top-bottom)
		@include margin(auto, right-left)
		@include margin(-41px, left)
		width: 80px
		height: 80px
		font-size: 40px
		color: $white
		text-decoration: none
		line-height: 70px
		text-align: center
	&:hover .more
		top: 40%
		@include margin(-40px, top)
		@include transition(all, 0.3s, ease-out)
		@include hardware
	h3, p
		@include margin(0, all)
		@include padding(0, all)
		position: relative
		z-index: 4
	h3
		color: $accent
		@include margin(10px, top)
		font-size: 20px
	> p
		@include padding(20px, bottom)
	.mask
		opacity: 0.85
		filter: alpha(opacity = 85)
		top: 100%
		left: 0
		width: 100%
		height: 100%
		background: $main-color
		position: absolute
		@include transition(all, 0.2s, ease-out)
		@include hardware
	&:hover .mask
		top: 0
.pluton-social
	position: relative
	z-index: 2
	list-style: none
	float: none
	position: relative
	@include margin(5px, top-bottom)
	@include margin(auto, right-left)
	li
		display: inline-block
		line-height: 32px
		font-family: 'Porta'
		font-size: 32px
		@include padding(0, top-bottom)
		@include padding(5px, right-left)
		a
			@include margin(0, all)
			@include padding(0, all)
			width: 32px
			height: 32px
			color: $accent
			&:hover
				color: $main-color

.client-slider img
	@include border(1px, $white, 'all')
	&:hover
		background-color: $accent

.client-nav
	list-style: none
	@include margin(10px, top)
	@include margin(50px, right)
	li
		float: left
		display: block
		@include margin(10px, left)
		a
			display: inherit
			@include padding(5px, all)
			background: $accent
			@include border-radius(3px, 'all')
			width: 30px
			height: 30px
			font-size: 14px
			&:hover
				background: $main-color
.third-section
	@include padding(70px, bottom)
	background: $main-color url(../libs/pluton/images/brand-bg.png) no-repeat center
	@include border(6px, $accent, 'top')
	.container
		@include padding(20px, top)
		position: relative
	.title
		@include border(1px, $sgrey, 'bottom')
		color: $accent
		@include margin(18px, bottom)
.sub-section
	h3
		@include margin(50px, left)
.testimonial
	p
		color: $main-color
		background: $accent
		@include padding(15px, all)
		@include margin(0, all)
	.arrow
		@include margin(10px, left)
		width: 0
		@include border (10px, $accent, 'top')
		@include border (20px, outset transparent, 'right-left')
		
	.whopic
		display: inline-block
		img
			@include margin(10px, top)
			width: 50px
			height: 50px
			float: left
		strong
			float: left
			@include margin(10px, top)
			@include padding(10px, left)
		small
			display: block
			font-size: 12px

.testimonial-text
	display: block
	font-size: 22px
	text-align: center
	@include margin(0, top-bottom)
	@include margin(auto, right-left)
	@include margin(30px, top)
	width: 70%
	line-height: 1.3em
.price-table
	@include margin(70px, top)
	@include margin(20px, bottom)

.price-column
	background-color: $white
	@include border-radius(10px, 'all')
	@include padding(20px, bottom)
	@include margin(0, top-bottom)
	@include margin(auto, right-left)
	text-align: center
	h3
		background-color: $main-color
		text-transform: uppercase
		text-align: center
		color: $accent
		@include padding(40px, top-bottom)
		@include padding(0, right-left)
		font-size: 36px
		@include margin(0, top)
		@include border-radius(10px, 'right-left-top')
		@include border-radius(0, 'right-left-bottom')
	.list
		list-style: none
		@include margin(20px, top-bottom)
		@include margin(50px, right-left)
		li
			font-weight: lighter
			color: $mgrey
			font-size: 20px
			@include border(1px, $mgrey, 'bottom')
			@include padding(25px, top-bottom)
			@include padding(0, right-left)
			&.price
				text-align: center
				font-size: 31px
				background-color: $white
				color: $mgrey
				@include margin(25px, top)

.price-text
	margin: 30px 0 20px
	font-size: 20px
	color: $main-color
	font-weight: normal
.newsletter
	color: $white
	h2
		color: $white
	.title h2
		text-align: left
		@include padding(0, all)
		@include margin(0, all)
	form
		text-align: right
	input
		@include margin(10px, top)
		@include padding(15px, all)
		height: auto
	button
		margin: 0 0 0 20px
	.button-sp
		&:hover, &:active
			background-color: $white
			color: $main-color
.error
	color: $red
	display: none
.contact
	background: $accent
	h1, h2, h3, h4, h5, h6, .section .title > p, .social > li > a
		color: $main-color
	textarea
		@include padding(10px, all)
		line-height: 20px
		height: auto
		width: 100%
	input
		&[type="text"], &[type="email"]
			width: 100%
			line-height: 20px
			height: auto
	textarea
		height: 120px

.contacts, .contact .social
	color: $white
	list-style: none
	@include margin(10px, left)

.contacts > li
	@include margin(15px, top)
	> a
		color: $white

.contact-info
	@include margin(10px, top-bottom)
	p
		font-weight: normal
	.icon
		@include margin(10px, top-bottom)
		@include margin(auto, right-left)
		font-size: 30px

.map-wrapper
	position: relative

.contact .social
	@include margin(0, left)
	li
		line-height: 32px
		@include padding(10px, all)
		font-family: 'Porta'
		font-size: 50px
		transition: margin 0.4s
		-webkit-transition: margin 0.4s
		display: inline-block
		a
			color: $white
			&:hover
				color: $main-color

.contact-form
	background: $white
	background: rgba(255, 255, 255, 0.9)
	z-index: 110
	position: relative
	@include margin(0, top)
	@include padding(20px, all)
	h3
		color: $tgrey
		@include padding(20px, bottom)

.message-btn
	border: 1px solid $mgrey
	color: $mgrey
	background-color: transparent
	@include padding(15px, top-bottom)
	@include padding(30px, right-left)
	font-size: 17px
	&:hover
		background-color: $accent

.contact-info
	text-align: center
	font-size: 18px
.info-mail
	@include border(1px, $white, 'all')
	width: 100%
	@include margin(0, top-bottom)
	@include margin(auto, right-left)
	@include padding(15px, all)
	color: $main-color

.black
	color: $main-color
.footer
	background: $main-color
	text-align: center
	> p
		color: $white
		@include margin(0, all)
	a
		color: darken($accent, 0%)
		&:hover, &:focus
			text-decoration: underline
